$red: #f25657;
$bc: #fff;
$fc: #fff;
$grey: #eeede9;

$font-red: #eb5153;
$font-black: #474c52;
$font-grey: #909090;
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

// 全屏
@mixin allCover{
	position:absolute;
	top:0;
	right:0;
}

// 居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin cl {
    position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

// 宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

// 设置文字字号和颜色
@mixin fc($size, $color) {
    font-size: $size;
    color: $color;
}

// flex布局和子元素的对齐方式
@mixin flexJustify($type: space-between) {
    display: flex;
    justify-content: $type;
}

// 顶线
@mixin bt-1px($color: #dcdcdc){
    border-top: 1px solid $color;
}

// 左线
@mixin bl-1px($color: #dcdcdc){
    border-left: 1px solid $color;
}

// 右线
@mixin br-1px($color: #dcdcdc){
    border-right: 1px solid $color;
}

// 下线
@mixin bb-1px($color: #dcdcdc){
    border-bottom: 1px solid $color;
}

// 图片处理
@mixin bis($name, $type) {
    background-repeat: no-repeat;
	background-size: 100% 100%;
    background-image: url('../../assets/img/' + $name + '@2x.' + $type);
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
        background-image: url('../../assets/img/' + $name + '@3x.' + $type);
    }
}